*{
    font-family: Roboto,sans-serif;
    font-style: normal;
    font-weight: normal;
}

.header{
height:72px;
width:100%;
}

@media screen and (min-width: 769px) {

    .grid-container-header {
        display: grid;
        grid-template-columns: 1fr 2fr 8fr 2fr 1fr;
        grid-template-rows: 1fr;
        align-items:center;
    }

    .grid-container-search{
        display: grid;
        grid-template-columns: 1fr 12fr 1fr;
        grid-template-rows: 1fr;
        align-items:center;
    }

    .grid-container-main{
        display: grid;
        grid-template-columns: 1fr 12fr 1fr;
        grid-template-rows: 1fr;
    }
    
    .grid-container-main-h{
        display: grid;
        grid-template-columns:3fr 9fr;
        grid-template-rows: 1fr;
        align-items:left;
      }


      .grid-container-main-b{
        display: grid;
        grid-template-columns: 4fr 4fr 4fr;
        grid-template-rows: 1fr;
       /* grid-gap: 16px;*/
      }

      
    .grid-container-footer{
        display: grid;
        grid-template-columns: 1fr 12fr 1fr;
        grid-template-rows: 1fr;
        align-items:center;
    }

    .grid-container-footer-main{
        display: grid;
        grid-template-columns: 12fr;
        grid-template-rows: 1fr;
        align-items:center;
    }

    .grid-container-footer-1{
        display: grid;
        grid-template-columns: 3fr 9fr;
        grid-template-rows: 1fr;
        align-items:center;
        padding-top: 105px;
        padding-bottom: 41px;
    }
    .grid-container-footer-2{
        display: grid;
        grid-template-columns: 4fr 8fr;
        grid-template-rows: 1fr;
        align-items:flex-start;
        padding-top: 39px;
        padding-bottom: 48px;   
    }

    .grid-container-ftr2-right{
        display: grid;
        grid-template-columns: 4fr 1fr 3fr;
        grid-template-rows: 1fr;
        align-items:center;
        grid-gap: 0px 16px;
    }
    .grid-container-ftr2-left{
        display: grid;
        grid-template-columns: 3fr 1fr;
        grid-template-rows: 1fr;
        align-self:flex-start;
        align-content: space-between;
        grid-gap: 0px 16px;
    }

}

@media screen and (min-width: 321px) and (max-width: 768px) {

    .grid-container-header {
        display: grid;
        grid-template-columns: 0fr 2fr 8fr 2fr 0fr;
        grid-template-rows: 1fr;
        align-items:center;
    }

    .grid-container-search{
        display: grid;
        grid-template-columns: 0fr 12fr 0fr;
        grid-template-rows: 1fr;
        align-items:center;
    }

    .grid-container-main{
        display: grid;
        grid-template-columns: 0fr 12fr 0fr;
        grid-template-rows: 1fr;
    }

    .grid-container-main-h{
        display: grid;
        grid-template-columns: 6fr 6fr;
        grid-template-rows: 1fr;
        align-items:left;
      }

      .grid-container-main-b{
        display: grid;
        grid-template-columns: 6fr 6fr;
        grid-template-rows: 1fr;
        /* grid-gap: 16px;*/
      }

      .grid-container-footer{
        display: grid;
        grid-template-columns: 0fr 12fr 0fr;
        grid-template-rows: 1fr;
        align-items:center;
    }

    .grid-container-footer-main{
        display: grid;
        grid-template-columns: 12fr;
        grid-template-rows: 1fr;
        align-items:center;
    }

    .grid-container-footer-1{
        display: grid;
        grid-template-columns: 3fr 9fr;
        grid-template-rows: 1fr;
        align-items:center;
        padding-top: 105px;
        padding-bottom: 41px;
    }
    .grid-container-footer-2{
        display: grid;
        grid-template-columns: 4fr 8fr;
        grid-template-rows: 1fr;
        align-items:flex-start;
        padding-top: 39px;
        padding-bottom: 48px;   
    }

    .grid-container-ftr2-right{
        display: grid;
        grid-template-columns: 4fr 1fr 3fr;
        grid-template-rows: 1fr;
        align-items:center;
        grid-gap: 0px 16px;
    }
    .grid-container-ftr2-left{
        display: grid;
        grid-template-columns: 3fr 1fr;
        grid-template-rows: 1fr;
        align-items:center;
        align-content: space-between;
        grid-gap: 0px 16px;
    }
}

@media screen and (max-width: 320px) {

    .grid-container-header {
        display: grid;
        grid-template-columns: 0fr 2fr 8fr 2fr 0fr;
        grid-template-rows: 1fr;
        align-items:center;
    }

    .grid-container-search{
        display: grid;
        grid-template-columns: 0fr 12fr 0fr;
        grid-template-rows: 1fr;
        align-items:center;
    }

    .grid-container-main{
        display: grid;
        grid-template-columns: 0fr 12fr 0fr;
        grid-template-rows: 1fr;
    }

    .grid-container-main-h{
        display: grid;
        grid-template-columns: 10fr 2fr;
        grid-template-rows: 1fr;
        align-items:left;
      }

      .grid-container-main-b{
        display: grid;
        grid-template-columns: 12fr;
        grid-template-rows: 1fr;
        /* grid-gap: 16px;*/
      }

      .grid-container-footer{
        display: grid;
        grid-template-columns: 0fr 12fr 0fr;
        grid-template-rows: 1fr;
        align-items:center;
    }

    .grid-container-footer-main{
        display: grid;
        grid-template-columns: 12fr;
        grid-template-rows: 1fr;
        align-items:center;
    }

    .grid-container-footer-1{
        display: grid;
        grid-template-columns: 3fr 9fr;
        grid-template-rows: 1fr;
        align-items:center;
        padding-top: 105px;
        padding-bottom: 41px;
    }
    .grid-container-footer-2{
        display: grid;
        grid-template-columns: 4fr 8fr;
        grid-template-rows: 1fr;
        align-items:flex-start;
        padding-top: 39px;
        padding-bottom: 48px;   
    }

    .grid-container-ftr2-right{
        display: grid;
        grid-template-columns: 4fr 1fr 3fr;
        grid-template-rows: 1fr;
        align-items:center;
        grid-gap: 0px 16px;
    }
    .grid-container-ftr2-left{
        display: grid;
        grid-template-columns: 3fr 1fr;
        grid-template-rows: 1fr;
        align-items:center;
        align-content: space-between;
        grid-gap: 0px 16px;
    }

}

.grid-item {
    text-align:center;
}

.grid-item-l-a {
    text-align:left;
}

.grid-item-img{
    align-self: left;
}


.button1{
font-family: Roboto, sans-serif;
font-style: normal;
font-weight: 500;
font-size: 13px;
line-height: 24px;

border: 1px solid #E0E0E0;
border-radius: 2px;
}

.search{}

.grid-container{
    display: grid;
    align-items:center;
    grid-gap: 0px 16px;
  }


.grid-item-search{
    font-family: Roboto, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 24px;
    color:red;
    align-items:left;
}

.search-line{
    outline: 0;
    border-width: 0 0 1px;
    border-color: rgba(117, 117, 117, .5);
    width: 100%;
    color:rgb(98, 98, 98);
}
.search-line::placeholder {
    color: rgba(98, 98, 98, .5);
  }

  .grid-container-main-h h1{
    font-size: 22px;
    line-height: 34px;
    color: #1D1D1D;
  }

  .grid-item-card {
    text-align:center;
    display: flex;
    flex-direction: column;
    padding-bottom: 20px;
}

.grid-item-card h2{
    text-align:center;
    font-size: 16px;
    line-height: 24px;
    display: flex;
    margin-block-start: 0;
    margin-block-end: 4px;

}

.grid-item-card img{
    justify-self: stretch;
    object-fit: cover;
    margin-bottom: 16px;
    width: 100%;
    height: 100%;
    display: block;
}

.grid-item-card p:first-of-type{
font-size: 14px;
line-height: 21px;
display: flex;
color: #626262;
}

.grid-item-card p{
    font-size: 13px;
    line-height: 21px;
    display: flex;
    align-items: flex-end;
    margin-block-start: 0;
    margin-block-end: 4px;
}
main{
    margin-bottom: 100px;
}

footer{
    background-color: #262626;
    color:white;
    font-size: 13px;
    line-height: 15px;
padding-bottom: 44px;
}

.grid-item-flex{
    display:flex;
}

.flex-al-cntr-just-l{
    align-items: center;
    justify-content: flex-end;
}

footer ul{
    list-style: none;
    padding: 0px 0px;
    margin: 0px 0px;
    font-size: 13px;
    line-height: 15px;
}

footer ul li{
    display:inline-block;
    padding-top:12px;
    padding-bottom:12px;
    padding-left:16px;
    padding-right:8px;
    display: flex;
    justify-content: flex-start;
}

footer ul li:nth-child(2){
    display: none;
    padding: 0px;
}

footer ul:hover > li:nth-child(2){
    display:inline-block;
    padding-top:12px;
    padding-bottom:12px;
    padding-left:16px;
    padding-right:8px;
    display: flex;
    justify-content: flex-start;
}

footer ul li > object:nth-child(3){
    margin-left: auto;
}

footer ul li > span{
    margin-left: 17px;
}

footer ul li > span:only-child{
    margin-left: 24px;
}

.left-align{
    justify-content: flex-start;
    display: flex;
}

.grid-container-footer-3{
    display: grid;
    grid-template-columns: 1fr 4fr 2fr 2fr 4fr 1fr;
    grid-template-rows: 1fr;
    align-items:center;
    padding-top: 42px;
    padding-bottom: 40px;
    
}

.bttm-border{
    border-bottom: 1px solid rgba(255,255,255, .4);
}

.dropdown-menu{
    background: #3B3B3B;
    border-radius: 2px;
    width:100%;
}
